.bannerIconAnimation {
  animation: iconAnimation 16s ease-in-out infinite;
}

@keyframes iconAnimation {
  0% {
    left: 90px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 90px;
  }
}

.customStroke {
  -webkit-text-stroke: 1px white; 
  color: transparent;
}

/* portfolio */


.tab-button {
  background: transparent;
  border: 2px solid var(--primaryColor);
  /* padding: 10px 20px; */
  color:  var(--primaryColor);
  cursor: pointer;
 
  border-radius: 25px;
  transition: 0.3s;
}

.tab-button.active {
  background:  var(--primaryColor);
  color: #ffffff;
 
}


.project-card {
  cursor: pointer;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}


