.bannerIconAnimation {
  animation: iconAnimation 16s ease-in-out infinite;
}

@keyframes iconAnimation {
  0% {
    left: 90px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 90px;
  }
}

.customStroke {
  -webkit-text-stroke: 1px white; 
  color: transparent;
}